* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(4, 4, 39);
  color: white;
  font-family: "poppins", "sans-serif";
}
/*header*/
.container {
  padding: 10px, 10%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 70px;
  background-color: rgb(51, 51, 112);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  line-height: 80px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-right: 30px;
}
nav ul a:hover {
  color: rgb(231, 231, 92);
  font-size: 1.2rem;
}

nav p {
  color: rgb(167, 238, 105);
  font-size: 2rem;
  margin-left: 140px;
  line-height: 80px;
  padding: 0;
  font-weight: bold;
}

/*main hero section*/
.left {
  font-size: 1.9rem;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 150px 0;
  margin-left: 60px;
  align-items: center;
  /*flex-direction: column-reverse;*/
}
.firstsection > div {
  width: 50%;
}
.leftsection {
  font-size: 3.5rem;
  margin: 50px, 0;
  margin-left: 80px;
}
.rightsection img {
  width: 60%;
  height: 40%;
  margin-top: 5px;
  margin-top: 50px;
}
/*.rightsection img:hover{
     transform:translateX(200px);
}*/
.purple {
  color: rgb(107, 237, 100);
}
.ls {
  font-size: 1.8rem;
  color: rgb(204, 175, 234);
}
#element {
  color: rgb(218, 218, 74);
}
/*@media screen and ( max-width: 2000px){
     body{
          background-color: rgb(0,0,33);
          }
     .firstsection{
          flex-direction: column-reverse;
     }
}*/

/*about*/
.topsection {
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-left: 180px;
}
.bottomsection {
  height: 80%;
  width: 60%;
  font-size: 22px;
  margin-left: 180px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(212, 206, 206);
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-titles p {
  font-size: 25px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(231, 231, 92);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: rgb(231, 231, 92);
  font-size: 25px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/*projects*/
.thirdsection {
  margin-top: 8rem;
}
.project-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 200px;
}
.project {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.project img {
  height: 100%;
  width: 80%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 58.7%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(241, 241, 27));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  background-color: rgb(71, 7, 71);
  border-radius: 8px;
}
.layer a {
  margin-top: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(71, 7, 71);
}
.tag {
  color: rgb(172, 49, 5);
  font-size: 12px;
  font-weight: bold;
}
.project img:hover {
  transform: scale(1.1);
}
.project:hover .layer {
  height: 100%;
}
/*contact*/
.lastsection {
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  margin-top: 20rem;
  margin-left: 12rem;
}
.contact-right {
  flex-basis: 60%;
  margin-top: 20rem;
}
.contact-left h4 {
  margin-top: 30px;
  margin-left: 200px;
  font-size: 80px;
  color: rgb(214, 229, 48);
}
.contact-left h1 {
  font-size: 60px;
}
.contact-left h3 {
  font-size: 50px;
  margin-left: 4rem;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  margin-left: 6rem;
  height: 50px;
  font-size: 45px;
  text-decoration: none;
  color: white;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: yellow;
  transform: translateY(-5px);
}
.button {
  text-decoration: none;
  border: 4px solid rgb(207, 228, 84);
  background-color: rgb(167, 238, 105);
  margin-left: 10rem;
  font-size: 20px;
  color: rgb(15, 2, 2);
  height: 25px;
  padding: 20px;
  border-radius: 10px;
}
.contact-right h1 {
  font-size: 60px;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 70%;
  border: 0;
  outline: none;
  background: rgb(167, 238, 105);
  padding: 25px;
  margin: 25px 0;
  color: black;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 6px;
}
.btn {
  text-decoration: none;
  border: 4px solid black;
  background-color: rgb(167, 238, 105);
  font-size: 18px;
  color: black;
  padding: 20px;
  margin-left: 6rem;
}
.end {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px, 0;
  background: rgb(51, 51, 112);
  font-weight: 300;
  font-size: 20px;
  margin-top: 50px;
  height: 70px;
}

.end i {
  color: red;
}

/*responsive*/
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .nav {
    flex-direction: column;
  }

  .firstsection {
    flex-direction: column-reverse;
  }

  .leftsection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightsection {
    width: 721px !important;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 60px;
    margin-bottom: 73px;
  }
  /*.rightsection img{
     width:60vw;
     margin-bottom:73px;
   }*/
  body {
    min-width: fit-content;
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    height: 90px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: rgb(179, 117, 237);
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav p {
    font-size: 3rem;
    padding-left: 60px;
  }
  .fa-solid {
    margin-right: 80px;
    font-size: 4rem;
  }
  .leftsection {
    font-size: 3.5rem;
  }
  .topsection {
    font-size: 5rem;
    margin-left: 60px;
    padding-top: 70px;
  }
  .bottomsection {
    height: 80%;
    width: 83%;
    font-size: 30px;
    margin-left: 60px;
  }
  .tab-links {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .tab-contents ul li span {
    color: rgb(231, 231, 92);
    font-size: 38px;
  }
  .tab-contents ul li {
    font-size: 32px;
  }
  .project-lists {
    display: grid;
    grid-gap: 50px;
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 130px;
  }
  .project img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
  }
  .layer {
    width: 91.5%;
    height: 0;
  }
  .layer h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    background-color: rgb(71, 7, 71);
    border-radius: 8px;
  }
  .layer p {
    padding-right: 20px;
    font-size: 20px;
  }
  .tag {
    font-size: 25px;
  }
  .layer a {
    font-size: 50px;
  }
  .end {
    height: 110px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1.5px solid white;
  }
  .end i {
    font-size: 25px;
    margin-right: 0;
  }
  .lastsection {
    flex-direction: column-reverse;
  }
  .contact-right h1 {
    font-size: 80px;
    font-weight: 800;
    color: white;
    margin-left: 80px;
    margin-bottom: 80px;
  }
  .contact-right form {
    width: 100%;
  }
  form input,
  form textarea {
    width: 60%;
    border: 0;
    outline: none;
    margin-left: 120px;
    font-size: 20px;
    border-radius: 6px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .btn {
    font-size: 25px;
    color: black;
    padding: 30px;
    margin-left: 30rem;
    margin-top: 20px;
  }
  form p {
    margin-left: 120px;
    font-size: 30px;
    margin-top: 60px;
  }

  .contact-left {
    margin-left: 150px;
    margin-bottom: 130px;
    margin-top: 150px;
  }
  .social-icons {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .social-icons a {
    margin-left: 5rem;
    height: 50px;

    font-size: 50px;
    color: white;

    transition: transform 0.5s;
  }
  .social-icons a:hover {
    color: yellow;
    transform: translateY(-5px);
  }
}
#msg {
  color: #61b752;
  margin-top: 10px;
  margin-left: 80px;
  display: block;
}
